@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Kanit', sans-serif;
    }
}