@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Kanit', sans-serif;
}

::selection {
    background: #FFDAB9;
}